DATABASE_URL=

NEXTAUTH_SECRET=
NEXTAUTH_URL=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

GITHUB_ID=
GITHUB_SECRET=

POLLINATIONS_API_URL=https://gen.pollinations.ai/image/
TEXT_API_URL=https://gen.pollinations.ai
POLLINATIONS_SECRET_KEY=
NEXT_PUBLIC_HOSTNAME=gen.pollinations.ai

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=